<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid black;
  border-bottom: 16px solid black;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
</head>
<body>
    <br>
    <br>
<center>
<h2>Your Payment is processing</h2>
  <h3>Don't Press refresh or Back wait till the page get's redirected automatically...</h3>
<div class="loader"></div>
</center>
<script>
    setTimeout(function(){
        window.location.href = "{% url 'cart:success' %}";
    }, 3000);
</script>
</body>
</html>
